.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border-bottom-width) solid var(--light-gray);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 65px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  }
  