html {
  font-size: 14px;
  height: 100%;
  font-family: OpenSans, sans-serif;
}
body {
  font-family: OpenSans, sans-serif;
  letter-spacing: 0.5px;
  height: 100%;
  scrollbar-gutter: stable;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans.ttf');
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  scrollbar-gutter: stable;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
